<h5 style="text-transform:unset">{{lang 'newsletter.subscribe'}}</h5>


<form class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <div class="form-prefixPostfix wrap">
                <input class="form-input" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="Enter your email address here">
                <input class="button button--primary form-prefixPostfix-button--postfix" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
            </div>
            {{#if settings.show_newsletter_summary }}
                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
        </div>
    </fieldset>
</form>
