<div class="value-proposition" style="margin-bottom:2%;">
         <div class="value-proposition-item">
             <div>
                 <img src="{{cdn '/assets/img/product-page/price.png'}}"/>
             </div>
             <div>
                 <h3>Unbeatable Prices</h3>
                 <p>
                     Great deals everyday
                 </p>
             </div>
         </div>
         <div class="value-proposition-item">
             <div>
                 <img src="{{cdn '/assets/img/product-page/service.png'}}"/>
             </div>
             <div>
                 <h3>Great Service</h3>
                 <p>
                     Helpful & Professional
                 </p>
             </div>
         </div>
         <div class="value-proposition-item">
             <div>
                 <img src="{{cdn '/assets/img/product-page/selection.png'}}"/>
             </div>
             <div>
                 <h3>Wide Selection</h3>
                 <p>
                     Top brands you'll love
                 </p>
             </div>
         </div>
         <div class="value-proposition-item">
             <div>
                 <img src="{{cdn '/assets/img/product-page/trust.png'}}"/>
             </div>
             <div>
                 <h3>Community Trust</h3>
                 <p>
                     Locally owned & operated
                 </p>
             </div>
         </div>
</div>
