{{assignVar "categ" category_namez}}


{{#each products.featured}}
	<div class="product-slot">
                            {{#inArray (split (join category '/') '/') (getVar "categ")}}
                                  <figure class="listItem-figure">
                                   {{> components/common/responsive-img
                                          image=image
                                          class="listItem-image"
                                          fallback_size=theme_settings.productgallery_size
                                          lazyload=theme_settings.lazyload_mode
                                          default_image=theme_settings.default_image_product
                                   }}
				</figure>
				<div class="listItem-details">			
					{{#if brand.name}}
						 <img  alt="" class="cardlogoimage {{sku}} lazyload" src="/product_images/uploaded_images/{{toLowerCase (dashcase brand.name)}}.jpg">
					    {{/if}} 
					 <h4 class="listItem-title">
						 <a style="-webkit-box-orient: vertical;" href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
					 </h4>
					 {{#if show_rating}}
						 <p class="listItem-rating">
							 {{> components/products/ratings rating=rating}}
						 </p>
					 {{/if}}
					 <p style="color:#757575;margin-bottom:.3rem;">
						 <strong>{{sku}}</strong>
					 </p>

                                  </div>
                                  <div class="popular-action-container">
                                         <div class="price-row">
                                          {{#if price.without_tax.formatted '===' '$999,999.00'}}
			<div class="listItem-actions">
			
				<div class="list-action-container">	
					{{#each custom_fields}}
						{{#if name '===' 'Inv Flag'}}
						<div class="store-deal-container">
							<div class="red-ribbon {{lowercase (dashcase value)}}">{{value}}</div>
						</div>
						{{else}}
							{{#if name '===' 'In-Store Deal'}}
								<div class="store-deal-container">
									<div class="red-ribbon in-store-deal">In-Store Deal</div>
								</div>
							{{/if}}
						{{/if}}
					{{/each}}
					<a class="btn lightbox-201911524199051 button button--small btn-ask" style="font-size:14px;" product_name="{{name}}" model="{{sku}}">
						ASK FOR PRICE
					</a>

					<a href="{{add_to_wishlist_url}}" style="color:red" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small sub-button">{{lang 'products.wishlist'}}</a>
					{{#if show_compare}}
					<label class="button button--small xx" for="compare-{{id}}" style="padding:0 !important;">
						<div style="display:flex;justify-content: center;align-items:center;">
							<input class="cmp" type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}" style="margin-right:2%;margin-top:0px;">
							 <img src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/compare-icon.png?t=1624248002&_ga=2.94277407.308044551.1624238785-624579995.1618214792" alt="compare icon" width="15" style="margin-left:3%;">
							<span style="white-space: nowrap;margin-left:7%;">{{lang "ADD TO COMPARE"}}</span>
						</div>
					</label>
					{{/if}}
				</div>
			</div>
			{{else}}
            		{{#gt stock_level 10000}}
			<div class="listItem-actions">
				<div class="list-action-container">
					{{#each custom_fields}}
						{{#if name '===' 'Inv Flag'}}
						<div class="store-deal-container">
							<div class="red-ribbon {{lowercase (dashcase value)}}">{{value}}</div>
						</div>
						{{else}}
							{{#if name '===' 'In-Store Deal'}}
								<div class="store-deal-container">
									<div class="red-ribbon in-store-deal">In-Store Deal</div>
								</div>
							{{/if}}
						{{/if}}
					{{/each}}
					{{#or customer (if theme_settings.restrict_to_login '!==' true)}}
						{{#if price}}
							<div class="listItem-price">{{> components/products/price price=price is_category=true}}</div>
						{{/if}}
					{{else}}
						{{> components/common/login-for-pricing}}
					{{/or}}
					{{#if show_cart_action}}
						{{#if has_options}}
							<a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small" data-product-id="{{id}}" style="white-space: nowrap;">{{lang 'products.choose_options'}}</a>
						{{/if}}
						{{#if add_to_cart_url }}
							<a href="{{add_to_cart_url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small">{{lang 'products.add_to_cart'}}</a>
						{{/if}}
				
					{{/if}}
					<a href="{{add_to_wishlist_url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small sub-button" style="color: #f00;background-color: #fde8e8;border:none;">{{lang 'products.wishlist'}}</a>
					{{#if show_compare}}
					<label class="button button--small xx" for="compare-{{id}}" style="padding:0 !important;">
						<div style="display:flex;justify-content: center;align-items:center;">
							<input class="cmp" type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}" style="margin-right:2%;margin-top:0px;height:0;">
							 <img src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/compare-icon.png?t=1624248002&_ga=2.94277407.308044551.1624238785-624579995.1618214792" alt="compare icon" width="15" style="margin-left:3%;">
							<span style="white-space: nowrap;margin-left:7%;">{{lang "ADD TO COMPARE"}}</span>
						</div>
					</label>
					{{/if}}
				</div>
			</div>
			{{else}}
				<div class="listItem-actions">
					<div class="list-action-container">
						{{#each custom_fields}}
						{{#if name '===' 'Inv Flag'}}
						<div class="store-deal-container">
							<div class="red-ribbon {{lowercase (dashcase value)}}">{{value}}</div>
						</div>
						{{else}}
							{{#if name '===' 'In-Store Deal'}}
								<div class="store-deal-container">
									<div class="red-ribbon in-store-deal">In-Store Deal</div>
								</div>
							{{/if}}
						{{/if}}
						{{/each}}
						{{#or customer (if theme_settings.restrict_to_login '!==' true)}}
						{{#if price}}
						<div class="listItem-price">{{> components/products/price price=price is_category=true}}</div>
						{{/if}}
						{{#if show_cart_action}}
							{{#if has_options}}
							<a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small" data-product-id="{{id}}" style="white-space: nowrap;">{{lang 'products.choose_options'}}</a>
							{{/if}}
							<!-- {{#if pre_order}}
							<a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small">{{lang 'products.pre_order'}}</a>
							{{/if}} -->
							{{#if add_to_cart_url }}
							<a href="{{add_to_cart_url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small">{{lang 'products.add_to_cart'}}</a>
							{{/if}}
							{{#if out_of_stock_message }}
								<a href="{{url}}" data-event-type="product-click" class="button button--small" data-product-id="{{id}}">{{out_of_stock_message}}</a>
							{{/if}}
							{{#each custom_fields }}
								{{#if name '==='  'Rebate IDs' }}
								<a href="{{../../url}}#rebate" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small sub-button" style="color: #f00;background-color: #fde8e8;border:none;">{{lang 'products.check_rebate_available'}}</a>
								{{/if}}
							{{/each}}
						{{else}}
							<a href="{{add_to_wishlist_url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small sub-button" style="color: #f00;background-color: #fde8e8;border:none;">{{lang 'products.wishlist'}}</a>
						{{/if}}
						{{else}}
						{{> components/common/login-for-pricing}}
						{{/or}}
						{{#if show_compare}}
						<label class="button button--small xx" for="compare-{{id}}" style="padding:0 !important;">
							<div style="display:flex;justify-content: center;align-items:center;">
								<input class="cmp" type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}" style="margin-right:2%;margin-top:0px;height:0">
								<img src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/compare-icon.png?t=1624248002&_ga=2.94277407.308044551.1624238785-624579995.1618214792" alt="compare icon" width="15" style="margin-left:3%;">
								<span style="white-space: nowrap;margin-left:7%;">{{lang "ADD TO COMPARE"}}</span>
							</div>
						</label>
						{{/if}}
					</div>
				</div>
			{{/gt}}
			{{/if}}
                                         </div>
                                         <div class="wishlist-container">

                                         </div>
                                         <div class="add-to-compare-container">

                                         </div>
                                  </div>

                            {{/inArray}}
	</div>
{{/each}} 




