<div class="promotion-container">
         <h1 class="title">Promotions</h1>
         <p class="blurb"></p>

         <div class="slick-banner" id="slick-banner-promote">
            <!-- <div class="promotion-banner">
              <div class="col">
                <img class="lazyload" src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/gc-background.png?t=1630378203&_gl=1*6v9x1a*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjcyMzE0MS4xMzguMS4xNjMyNzIzOTM0LjMw" >  
                
                  <div class="gift-card">
                          <div class="container">
                                    <img class="lazyload" src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/promotion-kings-gift-card-hand.png?t=1632727434&_gl=1*24qz3c*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjcyMzE0MS4xMzguMS4xNjMyNzI1MDM5LjYw" alt="">
                          </div>
                  </div>
                  <div class="ribbons">
                          <div class="container">
                                    <span class="title">KING'S GREAT BUYS PLUS</span>
                                    <p class="ribbon-locations">EVANSVILLE &bullet; OWENSBORO</p>
                                    <img class="ribbon-title" src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/gc-ribbon.png?t=1630378206&_gl=1*oclat8*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjcyMzE0MS4xMzguMS4xNjMyNzIzOTM0LjMw" alt="">
                                    <p class="footer-text">VALID ON ANY FURNITURE OR BEDDING PURCHASE AT KING'S EVANSVILLE AND OWENSBORO BRANCHES.</p>
                                    <a href="#" class="learn-more">LEARN MORE</a>
                          </div>
                  </div>
        
              </div>
              <div class="col">
                        <img class="lazyload" src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/gc-background.png?t=1630378203&_gl=1*6v9x1a*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjcyMzE0MS4xMzguMS4xNjMyNzIzOTM0LjMw" >  
                      
                        <div class="gift-card">
                                <div class="container">
                                          <img class="lazyload" src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/promotion-deal-match-appliances.png?t=1632733010&_gl=1*12ph2yb*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjczMjgwNi4xMzkuMS4xNjMyNzMzMDE1LjYw" alt="">
                                </div>
                        </div>
                        <div class="ribbons">
                                <div class="container">
                                          <div class="deals-match">
                                                    <img src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/promotion-deal-match-badge.png?t=1632731967&_gl=1*hz4mq9*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjcyMzE0MS4xMzguMS4xNjMyNzI1MDM5LjYw" alt="" class="lazyload">
                                          </div>
                                          <img class="ribbon-title" src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/dealsmatch.png?t=1632732797&_gl=1*1fbg7cw*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjczMjgwNi4xMzkuMS4xNjMyNzMyODg2LjQx" alt="">
                                          <p class="footer-text">ENJOY THE GREATEST DEALS WITH KING'S DEAL MATCH GUARANTEE!</p>
                                          <a href="#" class="learn-more">LEARN MORE</a>
                                </div>
                        </div>
              </div>
            </div> -->
            <div class="promotion-banner">
              <div class="col">
                <img class="lazyload" src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/gc-background.png?t=1630378203&_gl=1*6v9x1a*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjcyMzE0MS4xMzguMS4xNjMyNzIzOTM0LjMw" >  
                
                  <div class="gift-card">
                          <div class="container">
                                    <img class="lazyload" src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/promotion-kings-gift-card-hand.png?t=1632727434&_gl=1*24qz3c*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjcyMzE0MS4xMzguMS4xNjMyNzI1MDM5LjYw" alt="">
                          </div>
                  </div>
                  <div class="ribbons">
                          <div class="container">
                                    <span class="title">KING'S GREAT BUYS PLUS</span>
                                    <p class="ribbon-locations">EVANSVILLE &bullet; OWENSBORO</p>
                                    <img class="ribbon-title" src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/gc-ribbon.png?t=1630378206&_gl=1*oclat8*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjcyMzE0MS4xMzguMS4xNjMyNzIzOTM0LjMw" alt="">
                                    <p class="footer-text">VALID ON ANY FURNITURE OR BEDDING PURCHASE AT KING'S EVANSVILLE AND OWENSBORO BRANCHES.</p>
                                    <a href="/locations" class="learn-more">LEARN MORE</a>
                          </div>
                  </div>
        
              </div>
              <div class="col">
                        <img class="lazyload" src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/gc-background.png?t=1630378203&_gl=1*6v9x1a*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjcyMzE0MS4xMzguMS4xNjMyNzIzOTM0LjMw" >  
                      
                        <div class="gift-card">
                                <div class="container">
                                          <img class="lazyload" src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/promotion-deal-match-appliances.png?t=1632733010&_gl=1*12ph2yb*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjczMjgwNi4xMzkuMS4xNjMyNzMzMDE1LjYw" alt="">
                                </div>
                        </div>
                        <div class="ribbons">
                                <div class="container">
                                          <div class="deals-match">
                                                    <img src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/promotion-deal-match-badge.png?t=1632731967&_gl=1*hz4mq9*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjcyMzE0MS4xMzguMS4xNjMyNzI1MDM5LjYw" alt="" class="lazyload">
                                          </div>
                                          <img class="ribbon-title" src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/dealsmatch.png?t=1632732797&_gl=1*1fbg7cw*_ga*NjI0NTc5OTk1LjE2MTgyMTQ3OTI.*_ga_WS2VZYPC6G*MTYzMjczMjgwNi4xMzkuMS4xNjMyNzMyODg2LjQx" alt="">
                                          <p class="footer-text">ENJOY THE GREATEST DEALS WITH KING'S DEAL MATCH GUARANTEE!</p>
                                          <a href="/deal-match/" class="learn-more">LEARN MORE</a>
                                </div>
                        </div>
              </div>
            </div>
         </div>

</div>
